body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfefd;
}

.page-content {
  position: relative;
  overflow: hidden;
}

header {
  padding: 0px 80px 10px;
  position: sticky;
  top: 0;
  background-color: #fcfefd;
  z-index: 300;
}

.current {
  text-decoration: underline #2a8447 3px;
}

.burger-dropdown {
  display: none;
}

.logo-container {
  margin-top: 30px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header,
.right-header {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-header li,
.right-header li {
  display: inline;
}

.left-header li a,
.right-header li a {
  color: black;
  font-size: 26px;
  text-decoration: none;
}

.order-btn {
  background-color: #2a8447;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  cursor: pointer;
  font-family: inherit;
}

.order-btn:hover {
  background-color: #1e5d32;
}

.main-container {
  background-color: #e6ddc4;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 30px 60px 0px;
  width: 70%;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.carousel-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-list .card-item {
  user-select: none;
}

.card-list .card-item .card-image {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-item {
  transition: transform 0.3s ease;
}

.swiper-slide-active .card-image {
  transform: scale(1.2);
}

.card-item:hover .card-image {
  opacity: 0.2;
}

.slider-wrapper {
  position: top;
  overflow: hidden;
  max-width: 1200px;
  margin: 0px 0px 40px;
}

.slider-wrapper .swiper-pagination-bullet {
  background-color: #2a8447;
  height: 15px;
  width: 15px;
}

.swiper-slide-button {
  transition: 0.3s ease;
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #124e78;
  transform: scale(1.3);
}

.swiper-button-prev {
  margin-left: -45px;
}

.swiper-button-next {
  margin-right: -50px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #3e91cb;
}

.swiper-button-prev:active::after,
.swiper-button-next:active::after,
.swiper-button-prev:focus-visible::after,
.swiper-button-next:focus-visible::after {
  color: black;
}

.food-name {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #1e5d32;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.card-item:hover .food-name {
  opacity: 1;
}

.intro-line {
  margin: 0px;
  width: 55%;
  font-size: 36px;
  font-weight: bold;
}

.intro-text {
  margin: 20px 0px 30px;
}

.find-us-container {
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.find-us-text,
.map {
  flex: 1;
}

.find-us-text {
  background-color: #124e78;
  color: #e8eae8;
  padding: 20px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-us-text h2 {
  font-size: 50px;
  margin: auto;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 10px 20px 60px;
}

.icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.info-text {
  font-size: 22px;
  color: #e8eae8;
  line-height: 1.4;
  text-align: left;
}

.map {
  flex: 1;
  background-color: #ccc;
}

.embedded-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.social-media {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33%;
  margin: 25px 0;
}

.social-media img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.mandala {
  z-index: 0;
  position: absolute;
  transform: translateY(-80%);
  pointer-events: none;
}

.mandala-left {
  left: 0;
}

.mandala-right {
  right: 0;
}

.mandala-1 {
  top: 25%;
}

.mandala-2 {
  top: 55%;
}

.mandala-3 {
  top: 85%;
}

.mandala-4 {
  top: 115%;
}

.mandala-5 {
  display: none;
  top: 145%;
}

.mandala-6 {
  display: none;
  top: 145%;
}

.mandala img {
  height: 300px;
  width: auto;
}

@media (max-width: 768px) {
  .main-container {
    width: 60%;
  }

  .swiper-slide-active .card-item {
    transform: scale(0.9);
  }

  .swiper-slide-active .card-image {
    transform: scale(1);
  }

  .slider-wrapper {
    margin: 0;
  }

  .swiper-pagination {
    display: none;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .intro-line {
    font-size: x-large;
    width: 100%;
  }

  .find-us-container {
    flex-direction: column;
  }

  .find-us-text h2 {
    font-size: xx-large;
  }

  .info-line {
    margin: 10px 20px;
    justify-content: start;
  }

  .info-text {
    font-size: medium;
  }

  .mandala,
  .mandala-1,
  .mandala-2,
  .mandala-3,
  .mandala-4,
  .mandala-5,
  .mandala-6 {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .mandala img {
    height: 150px;
    width: auto;
  }

  mandala {
    display: block;
  }

  .mandala-1 {
    top: 20%;
  }

  .mandala-2 {
    top: 40%;
  }

  .mandala-3 {
    top: 60%;
  }

  .mandala-4 {
    top: 80%;
  }

  .mandala-5 {
    display: block;
    top: 100%;
  }

  .mandala-6 {
    display: block;
    top: 120%;
  }

  .logo-container {
    align-items: center;
    justify-content: center;
  }

  .left-header,
  .right-header {
    display: none;
  }

  .burger {
    display: block;
    position: fixed;
    top: 7%;
    left: 10%;
    cursor: pointer;
    z-index: 1001;
    font-size: 100px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .burger-dropdown {
    display: none;
    position: fixed;
    top: 12%;
    left: 10%;
    background-color: #2a8447;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .burger-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .burger-dropdown li {
    margin-bottom: 10px;
  }

  .burger-dropdown a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .burger-dropdown.open {
    display: block;
  }

  .header-container {
    justify-content: center;
    align-items: center;
  }
}
