body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #FCFEFD;
}

header {
    padding: 0px 60px 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 0px;
}

.logo {
    height: 140px;
    object-fit: contain;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header,
.right-header {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left-header li,
.right-header li {
    display: inline;
}

.left-header li a,
.right-header li a {
    color: black;
    font-size: 26px;
    text-decoration: none;
}

.order-btn {
    background-color: #2A8447;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    font-family: inherit;
}

.order-btn:hover {
    background-color: #1E5D32;
}


.main-container {
    background-color: #E6DDC4;
    min-height: calc(100vh - 100px);
    /* Subtract header height */
    margin: 0 auto;
    padding: 20px 60px 60px;
    width: 70%;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.carousel-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-list .card-item {
    user-select: none;
}

.card-list .card-item .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    /* Smooth transition for opacity */
}

.card-item:hover .card-image {
    opacity: 0.3;
}

.slider-wrapper {
    position: top;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px 0px 20px;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: #2A8447;
    height: 15px;
    width: 15px;
}

.swiper-slide-button {
    transition: 0.3s ease;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    transform: scale(1.5);
    /* Increase size using scale */
    color: #124E78;
}

.swiper-button-prev {
    margin-left: -45px;
}

.swiper-button-next {
    margin-right: -45px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: #3E91CB;
    /* Change arrow color on hover */
}

/* Overlay Text */
.food-name {
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    /* Semi-transparent black background */
    padding: 60px 20px;
    border-radius: 8px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
}

.card-item:hover .food-name {
    opacity: 1;
    /* Show text on hover */
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0px 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }

}